//----------------------------------------------------------------
//- 共通のレイアウトを継承
//----------------------------------------------------------------
extends /pug/layout/_default

//----------------------------------------------------------------
//- ページ毎の変数を追加(メタタグや相対パス、ページ固有データ)
//----------------------------------------------------------------
//- append variables
  //- ページ固有データ

//----------------------------------------------------------------
//- ページ毎のcssを追加
//----------------------------------------------------------------
//- append css
  link(rel="stylesheet" href=cssPath)

//----------------------------------------------------------------
//- ページ毎のjsを追加
//----------------------------------------------------------------
append js
  script(src="script.js" defer)

//----------------------------------------------------------------
//- mainコンテンツを記述
//----------------------------------------------------------------
block content
  canvas.js-canvas
